fastapi
uvicorn[standard]
python-dotenv
coqpit
ffmpeg-python
celery
redis
requests
pydantic
psycopg2-binary
SQLAlchemy
alembic
asyncpg
flower
pydantic-settings
yt-dlp
openai-whisper
google-cloud-translate
google-cloud-texttospeech
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0